:root {
  --color-primary: #004346;
  --color-primary-light: #172a3a;
  --color-primary-dark: #172a3a;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999999;
  --color-light-blue: #009ddc;

  --color-white: #ffffff;
  --color-black: #000000;

  -line: 0.1rem solid var(--color-light-gray);
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: var(--line);
  padding: 2.3rem 0;
}

.header-container .logo {
  margin-left: 5%;
  align-self: center;
}
.header-container .logo img {
  display: block;
  width: 5rem;
}

header nav {
  margin: 1.5rem 0 0 5%;
}

header ul li {
  display: inline-block;
  padding: 0 1.4rem 0 0;
  font-size: 1.4rem;
}

header ul li a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

li a.active {
  color: var(--color-black);
  border-bottom: 0.2rem solid var(--color-black);
  font-weight: 300;
}

li a:hover {
  color: var(--color-light-blue);
}
header ul li .btn {
  background: var(--color-primary-light);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  border-radius: 0.5rem;
  color: var(--color-grey-light-1);
  font-size: 1.4rem;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  text-decoration: none;
}

header ul li .btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(
    to bottom,
    var(--color-light-blue),
    var(--color-primary-light)
  );
  text-decoration: none;
}
