:root {
  --color-primary: #004346;
  --color-primary-light: #508991;
  --color-primary-dark: #172a3a;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999999;
  --color-light-blue: #009ddc;

  --color-primary-dark-8: rgba(23, 42, 58, 0.8);
  --color-primary-light-8: rgba(80, 138, 145, 0.8);

  --color-white: #ffffff;
  --color-black: #000000;

  -line: 0.1rem solid var(--color-grey-light-1);
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: var(--line);
  padding: 2.3rem 0;
}

.header-container .logo {
  margin-left: 5%;
  align-self: center;
}
.header-container .logo img {
  display: block;
  width: 5rem;
}

header nav {
  margin: 1.5rem 0 0 5%;
}

header ul li {
  display: inline-block;
  padding: 0 1.4rem 0 0;
  font-size: 1.4rem;
}

header ul li a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

li a.active {
  color: var(--color-black);
  border-bottom: 0.2rem solid var(--color-black);
  font-weight: 300;
}

li a:hover {
  color: var(--color-light-blue);
}
header ul li .btn {
  background: var(--color-primary-light);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  border-radius: 0.5rem;
  color: var(--color-grey-light-1);
  font-size: 1.4rem;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  text-decoration: none;
}

header ul li .btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(
    to bottom,
    var(--color-light-blue),
    var(--color-primary-light)
  );
  text-decoration: none;
}

.banner {
  background-image: linear-gradient(
      to right bottom,
      var(--color-primary-dark-8),
      var(--color-primary-light-8)
    ),
    url("https://unsplash.it/1500?random");
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 3rem;
}

.banner-content__title,
.banner-content__overview {
  color: var(--color-white);
  line-height: 1;
}

.banner-content__title {
  font-size: 4.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  padding: 1.5rem 3rem;
}

.banner-content__overview {
  font-size: 2.2rem;
  font-weight: 200;
  text-align: center;
  padding: 1.5rem 3rem;
}

.banner-content .button {
  text-transform: uppercase;
  color: var(--color-white);
  margin: 2rem;
  padding: 2rem;
  border: 2px solid var(--color-white);
  font-size: 1.4rem;
  text-decoration: none;
}
.banner-content .button:hover {
  background-color: var(--color-primary-dark-8);
  border-color: var(--color-primary-dark);
  color: var(--color-white);
}

/* Footer -------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .container .col {
  text-align: center;
}

/*Filter styles*/
/* .saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); } */
.brightness {
  filter: brightness(0.25);
  width: 18rem;
}
/* .blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); } */

footer .container .col a img {
  padding: 3rem;
}

footer .container .col h5 {
  font-size: 1.8rem;
  margin: auto;
  padding: 3rem;
}
footer .container .col p {
  font-size: 1.3rem;
}
.white-text {
  color: white;
}
.grey-text {
  color: var(--color-grey-light-4);
}
footer .social-links ul li,
footer .container .col ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .social-links ul li,
footer .container .col ul li {
  padding: 0 1.4rem 0 0;
  font-size: 1.4rem;
}
footer .social-links ul li a,
footer .container .col ul li a {
  text-decoration: none;
}
footer .footer-copyright {
  padding-left: 3rem;
  padding-right: 3rem;
}
footer .footer-copyright .container p {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
footer .footer-copyright .container p a {
  text-decoration: none;
  font-size: 1rem;
}

footer .social-links ul {
  display: flex;
}

@media screen and (min-width: 600px) {
  footer .container {
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem;
    padding: ;
  }
  footer .footer-copyright .container {
    flex-direction: column;
  }
}

.fa {
  font-size: 2rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: ;
  color: #3b5998;
}

.fa-twitter {
  background: ;
  color: #55acee;
}

.fa-google {
  background: ;
  color: #dd4b39;
}

.fa-linkedin {
  background: ;
  color: #007bb5;
}
